{{ define "Index" }}
{{ template "Header" }}
{{ template "Menu"  }}
<h2> All people</h2>
<table border="1">
    <thead>
    <tr>
        <td>ID</td>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Age</td>
        <td>Date Joined</td>
        <td>View</td>
        <td>Edit</td>
        <td>Delete</td>
    </tr>
    </thead>
    <tbody>
    {{ range . }}
    <tr>
        <td>{{ .ID }}</td>
        <td> {{ .FirstName }} </td>
        <td>{{ .LastName }} </td>
        <td>{{ .Age }}</td>
        <td>{{ .DateJoined }}</td>
        <td><a href="/showPerson?id={{ .ID }}">View</a></td>
        <td><a href="/editPerson?id={{ .ID }}">Edit</a></td>
        <td><a href="/deletePerson?id={{ .ID }}">Delete</a><td>
    </tr>
    {{ end }}
    </tbody>
</table>
{{ template "Footer" }}
{{ end }}