{{ define "ShowPerson" }}
  {{ template "Header" }}
    {{ template "Menu"  }}
    <h2> Register {{ .ID }} </h2>
      <p>First Name: {{ .FirstName }}</p>
      <p>Last Name: {{ .LastName }}</p>
      <p>Age: {{ .Age }}</p>
      <p>Date Joined: {{ .DateJoined }}</p>
      <p>Date Updated: {{ .DateUpdated }} </p>
      <br />
      <a href="/editPerson?id={{ .ID }}">Edit</a></p>
  {{ template "Footer" }}
{{ end }}